.wrapper {
    text-align: center;
}

.todo__note {
    animation: show-loader .2s;
}







@keyframes show-loader {
    to {
        transform: translateY(15px);
    }
    from {
        transform: translateY(0px);
    }
}

@keyframes hide-loader {
    to {
        transform: translateY(-15px);
    }
    from {
        transform: translateY(0px);
    }
}


