.header {
    background-color: rgba(128, 0, 128, 0.627);

    font-size: calc(40px + 1vw);

    font-family: 'Rubik Distressed', cursive;

    padding: 20px 10px;

    margin-bottom: 5%;
}
  
/* border: 3px solid rgba(83, 6, 83, 0.627); */








