
.todoNote__text {
    width: 404px;
    margin: 0 auto;
    padding: 10px;

    margin-top: 2%;

    background: linear-gradient(rgb(139, 11, 139), #9198e5);
    text-align: left;

    animation: show-loader .3s;

    font-size: calc(8px + 1vw);
}

.edit__text {
    width: 404px;
    margin: 0 auto;
    padding: 10px;

    margin-top: 2%;

    background: linear-gradient(rgb(217 128 217), #b8bbdb);
    text-align: left;

    animation: show-loader .3s;

    font-size: calc(8px + 1vw);
}


@keyframes show-loader {
    0% {
        transform: translateY(-60px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

